@model List<MasterPiece.Models.House>
@{
    ViewData["Title"] = "House";
    Layout = "Admin";
}
<h2>Manage Houses</h2>
<a asp-controller="Houses" asp-action="Create" class="btn btn-success mb-3">Add New House</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Type</th>
            <th>Price</th>
            <th>Available</th>
            <th>Guests</th>
            <th>Stars</th>
            <th>Rate</th>
            <th>Photo</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var house in Model)
        {
            <tr>
                <td>@house.Name</td>
                <td>@house.LocationName</td>
                <td>@house.TypeName</td>
                <td>@house.Price</td>
                <td>@(house.Available == true ? "Yes" : "No")</td>
                <td>@house.MaxGuests</td>
                <td>@house.Stars</td>
                <td>@house.Rate</td>
                <td>
                    <img src="@house.ImageUrl" width="80" />
                </td>

                <td>
                    <a asp-controller="Houses" asp-action="Edit" asp-route-id="@house.Id" class="btn btn-sm btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
