@model List<MasterPiece.Models.House>
@{
    ViewData["Title"] = "My Wishlist";
    Layout = "DarNaLayout";
}

<main>
    <section class="hero_in tours">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Your Wishlist</h1>
            </div>
        </div>
    </section>

    <div class="container margin_60_35">
        <div class="row">
            @if (!Model.Any())
            {
                <p class="text-center">Your wishlist is empty.</p>
            }
            else
            {
                @foreach (var house in Model)
                {
                    <div class="col-md-6 isotope-item">
                        <div class="box_grid" data-cue="slideInUp">
                            <figure>
                                <a href="@Url.Action("Details", "Dar", new { id = house.Id })">
                                    <img src="@house.ImageUrl" class="img-fluid" alt="@house.Name" width="800" height="533" />
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small>@house.LocationName</small>
                            </figure>
                            <div class="wrapper">
                                <div class="cat_star">
                                    @for (int i = 0; i < (house.Stars ?? 0); i++)
                                    {
                                        <i class="icon_star"></i>
                                    }
                                </div>
                                <h3><a href="@Url.Action("Details", "Dar", new { id = house.Id })">@house.Name</a></h3>
                                <p>@(house.Description?.Length > 120 ? house.Description.Substring(0, 120) + "..." : house.Description)</p>
                                <span class="price">From <strong>@house.Price J.D</strong> / per night</span>

                                <form method="post" asp-controller="Wishlist" asp-action="RemoveFromWishlist" class="mt-2">
                                    <input type="hidden" name="houseId" value="@house.Id" />
                                    <button type="submit" class="btn_1 small outline-danger">
                                        <i class="icon_trash"></i> Remove
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</main>
